body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rosybrown;
    padding: 40px;
}
.title-box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
